
// Colors
$primary-color:#040506; 
$secondary-color: #000000;
$tertiary-color:#FFFFFF;


// font-style
@font-face {
    font-family:'font-style' ;
    src: local('font-style') url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
}